.logo {
    margin-left: auto;
    margin-right: auto;
    width:85.5%;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 70px;
    border: 1px solid #DDD;
} #homeDiv {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}.accordion {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
} .postContent {
    height: 300px;
} .postFooter {
    text-align: right;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:12px;
    font-weight:normal;
    line-height:13px;
    margin-top: auto;
    margin-bottom:15px;
    color:#808080;
} .gaeButtonDiv {
    padding-top: 5px;
    margin-left: 82%
}