.draggable {
    width: 400px;
    height: 400px;
    padding: 0.5em;
}

.draggableContained {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:20px;
    font-weight:bold;
    line-height:25px;
    color: #c30200;
    width:180px;
    border: 1px solid #AAA;
    background: #CCC;
    text-align: center;
}